name: Destroy Monitoring Stack

on:
  workflow_dispatch:

env:
  AWS_REGION: ${{ vars.AWS_REGION }}
  TF_VAR_region: ${{ vars.AWS_REGION }}

jobs:
  destroy:
    name: Terraform Destroy Monitoring
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          region: ${{ env.AWS_REGION }}

      - name: Terraform Init
        run: terraform -chdir=monitoring/terraform init

      - name: Terraform Destroy
        run: terraform -chdir=monitoring/terraform destroy -auto-approve

